

.navbar {
    background: #a61733;
    box-shadow: 0 10px 10px rgba(0, 0,0.25);
    color: whitesmoke;
    position:fixed;
    width: 100%;
    z-index: 99;
    white-space: nowrap;
}



body {
    font-size: 24px;
}