.navbar li{
    display: inline-block;
    text-align: center;
}

.itemLeft {
    width: 15%;
}

.itemCenter {
    width: 70%;
}

.itemRight {
    width: 15%;
}

.navbar {
    background: #a61733;
    box-shadow: 0 3px 6px rgba(68, 68, 68, 0.6);
}

li {
    color: whitesmoke;
    padding: 15px 0;
}

body {
    font-size: 24px;
}