.footer {
    width: 100%;
    /* height: 80px; */
   box-shadow: 10px 10px 10px rgba(0, 0, 0.25);
    position: relative;
    color: whitesmoke;
}


.logo {
    height: 50px;
    width: 60px;
}

.shadow1 { 
    /* margin:40px; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0.25);
    
}

 .shadow1 .content {
    position: relative; 
    padding: 100px;
    background-color: #a61733;
}